@use "src/styles/_colors";

.documents-form {
  margin: 20px 0 48px 0;
}

.form-header {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 20px;
}

.field {
  display: flex;
  margin: 16px 0;

  align-items: center;
}

.fields {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 0 8px;
}

.field-label {
  display: block;

  width: 174px;
  margin-right: 12px;

  color: colors.$black;

  font-size: 14px;
  line-height: 16px;
}

.field-input {
  box-sizing: border-box;

  width: 100%;
  border: 1px solid colors.$gray;
  border-radius: 8px;
  height: 32px;
}

.field-input-medium {
  width: calc(100% / 3 * 2);
}

.field-date {
  width: 140px;
}
