@use "src/styles/_colors";

.license-header {
  margin: 0;
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 20px;
}

.license-data {
  display: flex;
  margin: 6px 0;
  align-items: top;
}

.license-data-label {
  font-size: 14px;

  color: colors.$black;
  opacity: 0.7;
  margin-right: 12px;
  width: 174px;

  margin-right: 34px;
}

.license-data-value {
  margin: 0;

  color: colors.$black;
  max-width: 464px;
  word-break: break-word;
}
