@use 'src/styles/_colors';

.text-input {
  display: flex;
  flex-direction: column;

  font-family: Montserrat;
  width: 100%;
}

.input {
  font-family: Montserrat;
  padding: 0 5px;
}

.input:focus {
  outline: 1px solid colors.$black;
  outline-offset: -1px;
}

.error {
  color: red;
  width: 160px;
  font-size: 14px;
  line-height: 16px;
}
